body{
    height: calc(100vh + 200px) !important;
    overflow: visible !important;
}
.gb_kd.gb_od {
    display: none !important;
}
.SGWAac {
    border-top: none !important;
}
.fhpo2c {
    height: min-content !important;
}
.PdjKid {
    display: none !important;
}
.hI2jVc {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin-top: 5px !important;
}
.tWjOu{
    margin-top: 0 !important;
    line-height: normal;
}
.nSCxEf {
    font-size: 20px !important;
    line-height: 24px !important;
    height: 26px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.erDb5d {
    display: none !important;
}